#initially-hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

a:hover {
  text-decoration: underline;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.black-background {
background-color: black;
color: white;
}
